<p>
  Name {{ form.name }}
  {% for error in form.name.errors %}
    <span style="color: red">[{{ error }}]</span>
  {% endfor %}<br>
</p>
<p>
  Description {{ form.description }}
  {% for error in form.description.errors %}
    <span style="color: red">[{{ error }}]</span>
  {% endfor %}<br>
</p>
<p>
  Venu {{ form.venu }}
  {% for error in form.venu.errors %}
    <span style="color: red">[{{ error }}]</span>
  {% endfor %}<br>
</p>
<p>
  Start Date  <br> {% include 'datetimedata.html' %}
  {% for error in form.date.errors %}
    <span style="color: red">[{{ error }}]</span>
  {% endfor %}<br>
</p>
<p>
  End Date <br> {% include 'datetimedata.html' %}
  {% for error in form.end_time.errors %}
    <span style="color: red">[{{ error }}]</span>
  {% endfor %}<br>
</p>
<p>
  Admission {{ form.admission }}
  {% for error in form.admission.errors %}
    <span style="color: red">[{{ error }}]</span>
  {% endfor %}<br>
</p>
<p>
  Category {{ form.category }}
  {% for error in form.category.errors %}
    <span style="color: red">[{{ error }}]</span>
  {% endfor %}<br>
</p>
