<div id='event'>
  <p><img src="{{ event.author.avatar(50) }}"></p>
  <h3>{{ event.name }}</h3>
  <span>{{ event.description }}</span><br>
  <span><a href="{{ event.venu.id }}">{{ event.venu.name }}</a></span>
  <span>{{ event.date }}</span>
  {% if event.end_time %}
    <span>{{ event.end_time }}</span>
  {% else %}
    <span>Till late</span>
  {% endif %}
  <span>{{ event.admission }}</span>
  <span>{{ event.category }}</span>
  <!-- if to be removed -->
  {% if event.author %}
    <span>Posted by:<a href={{ url_for('user', username=event.author.username) }}> {{ event.author.nickname }}</a></span><br>
  {% endif %}
  {% if current_user.id == event.author.id %}
    <span><a href={{ url_for('edit_event', id=event.id) }}>Edit</a></span>
    <span><a href="{{ url_for('delete_event', id=event.id)}}">Delete</a></span>
  {% endif %}
</div>
